<!DOCTYPE html>
<html>
<body style="background-color:grey">
    <title>Pet's Page</title>
    <form>
        <h1 style="color:pink">Watch Your Pet</h1>
        <h2 style="color:purple">INFO</h2>
        <a href="/show?data=hunger"><input type="button", value="hunger", style="background-color:pink"></a>
        <a href="/show?data=happiness"><input type="button", value="happiness", style="background-color:pink"></a>
        <a href="/show?data=energy"><input type="button", value="energy", style="background-color:pink"></a>
        <a href="/show?data=points"><input type="button", value="points", style="background-color:pink"></a>
        <a href="/show?data=state"><input type="button", value="state", style="background-color:pink"></a>
        <a href="/status"><input type="button", value="status", style="background-color:pink"></a>
        <br>
        <h2 style="color:purple">ACTIONS</h2>
        <a href="/eat"><input type="button", value="eat", style="background-color:pink"></a>
        <a href="/sleep"><input type="button", value="sleep", style="background-color:pink"></a>
        <a href="/play"><input type="button", value="play", style="background-color:pink"></a>
    </form>
</body>
</html>
