<!DOCTYPE html>
<html>
<body style="background-color:grey">
    <center>
        <form method="POST">
        <fieldset>
            <legend>PET APP</legend>
            <table>
                <tr>
                    <td>
                        <input type="button" name="login" id="login" value="login" onclick="window.location.assign('/login')"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" name="register" id="register" value="register" onclick="window.location.assign('/register')"/>
                    </td>
                </tr>
            </table>
        </fieldset>
        </form>
    </center>
</body>
</html>
