<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">
        function login(usernameID, passworID) {
            var name =document.getElementById(usernameID).;
            var password = document.getElementById(passworID);
            window.location.assign('/start');
        }
    </script>
</head>
<body style="background-color:grey">
    <center>
        <form method="POST">
        <fieldset>
            <legend>Login</legend>
            <table>
                <tr>
                    <td>
                        username:
                    </td>
                    <td>
                        <input type="text" name="username" id="username"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        password:
                    </td>
                    <td>
                        <input type="password" name="password" id="password"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Login" onclick="login('username', 'password')">
                </tr>
            </table>
        </fieldset>
        </form>
    </center>
</body>
</html>
